* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
}

.app-wrapper {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

.game-wrapper {
    height: 95%;
    width: 100%;
}

.background-image {
    object-fit: fill;
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
}

.player-img, .enemy-img {

}

.player-img > img, .enemy-img > img {
    height: 100px;
}

.goal-img {
}

.goal-img > img {
    height: 100%;
}

.score {
    font-size: 24px;
    position: absolute;
    left: 8px;
    bottom: 8px;
    color: white;
}